<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GetProvinces</servlet-name>
        <servlet-class>main.java.servlets.GetProvinces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>main.java.servlets.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>main.java.servlets.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCompanies</servlet-name>
        <servlet-class>main.java.servlets.GetCompanies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReviews</servlet-name>
        <servlet-class>main.java.servlets.GetReviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostReview</servlet-name>
        <servlet-class>main.java.servlets.PostReview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProvinces</servlet-name>
        <url-pattern>/GetProvinces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCompanies</servlet-name>
        <url-pattern>/GetCompanies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReviews</servlet-name>
        <url-pattern>/GetReviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostReview</servlet-name>
        <url-pattern>/PostReview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
